<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marketplace</title>
    <link rel="icon" href="https://png.pngtree.com/png-vector/20220727/ourmid/pngtree-cooking-logo-png-image_6089722.png">

    <!--
      This 3rd-party stylesheet makes available the font families to be used
      for this page ("Roboto" and "Roboto Slab").
    -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <!--
      This 3rd-party stylesheet incorporates SVG icons from Font Awesome:
      http://fontawesome.com/.  Specifically, each of the <i> elements below
      incorporates an icon from Font Awesome.
    -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/photoCardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>

    <header>


      <h1 class="site-title"><a href="/">Marketplace</a></h1>

    </header>
  
    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/myAccounts">My Account</a></li>
        <li class="navitem"><a href="/browse">Browse</a></li>


      </ul>
    </nav>

    {{{body}}}
      </body>
</html>